<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello</h1>
<div th:id="${hello}" th:class="${hello}" th:text="${hello}"></div>
<hr/>
<!--转义-->
<div th:text="${hello}"></div>
<!--不转义-->
<div th:utext="${hello}"></div>
<hr/>
<!--生成3个h3标签内容-->
<h3 th:text="${user}" th:each="user:${users}"></h3>
<hr/>
<!--在h3标签中生成3个span标签-->
<h3>
    <span th:text="${user}" th:each="user:${users}"></span>
</h3>


</body>
</html>